<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astrotalk.sdk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="false" />

    <application>
        <activity
            android:name=".api.activities.AstroSplashActivity"
            android:exported="false" />
        <activity
            android:name=".api.activities.AstroOrderHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar" />
        <activity
            android:name=".api.activities.AstroChatAstrologerListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar" />
        <activity
            android:name=".api.activities.AstroChatIntakeFormActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".api.activities.AstroSearchLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar" />
        <activity
            android:name=".api.activities.AstroUserAstrologerChatWindowActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar" />
        <activity
            android:name=".api.activities.AstroChatImageViewerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar" />
        <activity
            android:name=".api.activities.AstroAcceptChatInterfaceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AtNoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>